<table
  mat-table
  [dataSource]="orderDetails"
  class="mat-elevation-z8 full-width-table"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let orderDetail">{{ orderDetail.orderId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Discount">
    <th mat-header-cell *matHeaderCellDef>Discount</th>
    <td mat-cell *matCellDef="let orderDetail">{{ orderDetail.discount }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef>Quantitiy</th>
    <td mat-cell *matCellDef="let orderDetail">{{ orderDetail.quantity  }}</td>
  </ng-container>
  <ng-container matColumnDef="Unit Price">
    <th mat-header-cell *matHeaderCellDef>Unit Price</th>
    <td mat-cell *matCellDef="let orderDetail">{{ orderDetail.unitPrice  }}</td>
  </ng-container>
 

  <ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let orderDetail">
      <button mat-icon-button color="primary">
        <mat-icon class="mat-18">info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
