<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Details for the clicked Product</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex>Product name:</div>
          <div fxFlex>{{ product.productName }}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex>Product price </div>
          <div fxFlex>{{ product.unitPrice }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
