<table
  mat-table
  [dataSource]="shippers"
  class="mat-elevation-z8 full-width-table"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let shipper">{{ shipper.shipperId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Company Name">
    <th mat-header-cell *matHeaderCellDef>Region Description</th>
    <td mat-cell *matCellDef="let shipper">{{ shipper.companyName }}</td>
  </ng-container>
  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef>Region Description</th>
    <td mat-cell *matCellDef="let shipper">{{ shipper.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let shipper">
      <button mat-icon-button color="primary">
        <mat-icon class="mat-18">info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
